<div class="ab-account-types-list-tabs" id="att1-buttons">
    <button class="account-tabs-btn active">All products</button>
    <button class="account-tabs-btn">Microsoft keys</button>
    <button class="account-tabs-btn">Google accounts</button>
    <button class="account-tabs-btn">Facebook accounts</button>
    <button class="account-tabs-btn">Twitter accounts</button>
    <button class="account-tabs-btn">Protonmail accounts</button>
    <button class="account-tabs-btn">Rededit accounts</button>
    <button class="account-tabs-btn">Steam accounts</button>
</div>