<div class="ab-account-types-list-tabs">
    <button class="account-tabs-btn active">All accounts</button>
    <button class="account-tabs-btn">Yahoo Accounts</button>
    <button class="account-tabs-btn">Facebook Marketplace</button>
    <button class="account-tabs-btn">Google Accounts</button>
    <button class="account-tabs-btn">Twitter Accounts</button>
    <button class="account-tabs-btn">Hotmail Accounts</button>
    <button class="account-tabs-btn">Google Voice Accounts</button>
    <button class="account-tabs-btn">Facebook Accounts</button>
</div>