        <!-- all account content html start -->
        <div class="ab-account-types-list-overview ab-all-accounts-types" id ="all-table-container">

            <div class="ab-account-category-based-list" >
                <div class="ab-account-table" id="all-acounts-table">
                  <table>
                    <thead>
                        <tr>
                            <th>
                                <h4>All accounts</h4>
                            </th>
                        </tr>
                    </thead>
                  </table>
                  <table>
                    <thead id="filter-head" style="display:none">
                        <tr>
                          <th>Provider
                            <div class="ab-update-view-btns">
                              <button class="ab-upd-arow-top" onclick="sortTableByProvider('all-account')"><img
                                src="image/color-arrow-top.svg" width="19"
                                height="13" alt="arrow-top"></button>
                              <button class="ab-upd-arrow-down" onclick="sortTableByProviderDes('all-account')"><img
                                src="image/color-arrow-down.svg"
                                width="19" height="13" alt="arrow down"></button>
                            </div>
                          </th>
                          <th>Quantity
                            <div class="ab-update-view-btns">
                              <button class="ab-upd-arow-top" onclick="sortTableByQuantity('all-account')"><img
                                src="image/color-arrow-top.svg" width="19"
                                height="13" alt="arrow-top"></button>
                              <button class="ab-upd-arrow-down" onclick="sortTableByQuantityDes('all-account')"><img
                                src="image/color-arrow-down.svg"
                                width="19" height="13" alt="arrow down"></button>
                            </div>
                          </th>
                          <th>Price
                            <div class="ab-update-view-btns">
                              <button class="ab-upd-arow-top" onclick="sortTableByPrice('all-account')"><img
                                src="image/color-arrow-top.svg" width="19"
                                height="13" alt="arrow-top"></button>
                              <button class="ab-upd-arrow-down" onclick="sortTableByPriceDes('all-account')"><img
                                src="image/color-arrow-down.svg"
                                width="19" height="13" alt="arrow down"></button>
                            </div>
                          </th>
                        </tr>
                      </thead>
                    <tbody class="">
                        <tr class="no-search-result">
                            <td colspan="3">
                                <p class="not-fount-text">Sorry, no results for <span
                                        class="search-keywords">Mailru</span>. Please try
                                    another search.</p>
                            </td>
                        </tr>
                        @@loop("./_accounts-list-item.html", "data/accountsdata.json")
                    </tbody>
                  </table>
                </div>
 
            </div>
        </div>
        <!-- [END] -->