<div class="ab-account-types-list-overview" id="promo-container">
    <div class="ab-account-category-tabs" id="att2-buttons">
        <button class="account-category-btn active"><img
                src="image/fire-icons.svg" width="24" height="31"
                alt="icons intract" class="intract-icon"> Hot</button>
        <button class="account-category-btn"><img
                src="image/pin-mark-icons.svg" width="25" height="24"
                alt="icons intract" class="intract-icon"> Sale</button>
        <button class="account-category-btn"><img
                src="image/new-stars-icons.svg" width="32" height="34"
                alt="icons intract" class="intract-icon"> New</button>
    </div>
    <div class="ab-account-category-based-list">
        <table class="ab-account-table" id = "promo-table">
            <thead>
                <tr>
                    <th>Product
                      <div class="ab-update-view-btns">
                        <button class="ab-upd-arow-top" onclick="sortTableByProvider('promo')"><img
                          src="image/color-arrow-top.svg" width="19"
                          height="13" alt="arrow-top"></button>
                        <button class="ab-upd-arrow-down" onclick="sortTableByProviderDes('promo')"><img
                          src="image/color-arrow-down.svg"
                          width="19" height="13" alt="arrow down"></button>
                      </div>
                    </th>
                    <th>Quantity
                      <div class="ab-update-view-btns">
                        <button class="ab-upd-arow-top" onclick="sortTableByQuantity('promo')"><img
                          src="image/color-arrow-top.svg" width="19"
                          height="13" alt="arrow-top"></button>
                        <button class="ab-upd-arrow-down" onclick="sortTableByQuantityDes('promo')"><img
                          src="image/color-arrow-down.svg"
                          width="19" height="13" alt="arrow down"></button>
                      </div>
                    </th>
                    <th>Price
                      <div class="ab-update-view-btns">
                        <button class="ab-upd-arow-top" onclick="sortTableByPrice('promo')"><img
                          src="image/color-arrow-top.svg" width="19"
                          height="13" alt="arrow-top"></button>
                        <button class="ab-upd-arrow-down" onclick="sortTableByPriceDes('promo')"><img
                          src="image/color-arrow-down.svg"
                          width="19" height="13" alt="arrow down"></button>
                      </div>
                    </th>
                  </tr>
            </thead>

            <tbody class="">
                <tr class="no-search-result">
                    <td colspan="3">
                        <p class="not-fount-text">Sorry, no results for <span
                                class="search-keywords">Mailru</span>. Please try
                            another search.</p>
                    </td>
                </tr>
                @@loop("./_accounts-list-item.html", "data/accountsdata.json")
            </tbody>
        </table>

    </div>
</div>