
/*********************************
    benefit section style css 
********************************/
.ab-benefit-section-box {
    position: relative;
    padding: 58px 0 104px;
  }
  .ab-benefit-section-box .ab-benefit-top-wrapper {
    padding-bottom: 57px;
    border-bottom: 1px solid var(--ab_violet);
    display: flex;
    align-items: center;
    gap: 72px;
    padding-right: 54px;
  }
  .ab-benefit-section-box .ab-benefit-main-content {
    padding: 65px 40px 45px 42px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 95px;
  }
  .ab-benefit-items-cards {
    position: relative;
    padding-left: 40px;
    width: 45%;
  }
  .ab-benefit-items-cards::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--ab_orange);
    left: 0;
    top: 5px;
  }
  .ab-benefit-items-cards:not(:last-child) {
    margin-bottom: 20px;
  }
  .ab-benefit-items-cards .ab-benefit-title {
    position: relative;
    margin-bottom: 20px;
  }
  
  .ab-benefit-items-cards .ab-benefit-description {
    font-family: var(--ab_primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  @media screen and (min-width: 992px) and (max-width: 1280px) {
    .ab-benefit-section-box .ab-benefit-main-content {
      padding: 65px 0px 45px 0px;
      column-gap: 30px;
    }
    .ab-benefit-items-cards {
      width: 44%;
      flex: 0 0 44%;
    }
  }
  
  @media screen and (max-width: 991px) {
    .ab-benefit-section-box .ab-benefit-top-wrapper {
      padding-right: 30px;
      padding-left: 38px;
      flex-direction: column-reverse;
      gap: 36px;
    }
    .ab-benefit-items-cards {
      width: 100%;
    }
    .ab-benefit-section-box {
      padding-bottom: 0;
    }
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    .ab-benefit-section-box .ab-benefit-top-wrapper {
      gap: 35px;
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .ab-benefit-section-box {
      padding-left: 50px;
      padding-right: 50px;
    }
    .ab-main--content.earn-page-wrap-two {
      padding-left: 4px;
      padding-right: 4px;
    }
    .ab-article-content-box .ab-article-title {
      margin-bottom: 45px;
    }
    .ab-article-details-section {
      padding-top: 38px;
    }
    .ab-benefit-section-box .ab-benefit-main-content {
      padding: 45px 7px;
    }
    .ab-article-details-section .ab-article-details-image {
      height: 318px;
      margin-bottom: 33px;
    }
    .ab-article-content-box {
      padding: 16px 50px 17px 50px !important;
    }
    .ab-benefit-section-box .ab-benefit-top-wrapper {
      gap: 54px;
    }
    .ab-benefit-section-box .ab-benefit-top-wrapper {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media screen and (max-width: 767px) {
    .ab-benefit-section-box {
      padding-top: 23px;
    }
    .ab-benefit-section-box .ab-benefit-top-wrapper {
      gap: 45px;
      border-bottom: 0;
      padding-bottom: 0;
    }

    .ab-article-content-box {
      padding-top: 37px !important;
    }
  }