
/*********************************
    newsletter section style css 
********************************/
.ab-newsletter-section {
    padding: 49px 80px 48px 82px;
    position: relative;
    background: var(--ab_light);
  }
  .ab-newsletter-section .ab-newsletter-title {
    margin-bottom: 29px;
  }
  .ab-newsletter-section .ab-form-input-box .ab-newsletter-wrapper {
    display: flex;
    align-items: center;
    gap: 23px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .ab-newsletter-section .ab-form-input-box {
    display: block;
  }
  .ab-newsletter-section .ab-newsletter-input-form .ab-check-requred p {
    max-width: 100%;
    position: relative;
    top: 7px;
  }
  .ab-newsletter-section .ab-newsletter-input-form .ab-check-requred {
    width: 100%;
  }
  .ab-newsletter-wrapper > .ab-check-requred {
    display: none;
  }
  @media screen and (max-width: 1420px) and (min-width: 992px) {
    .ab-newsletter-section .ab-form-input-box .ab-newsletter-wrapper {
      gap: 10px;
      /* flex-wrap: wrap; */
    }
    .ab-newsletter-section
      .ab-form-input-box
      .ab-newsletter-wrapper
      .ab-input-group {
      min-width: 100px;
      width: 100%;
    }
    .ab-newsletter-section
      .ab-form-input-box
      .ab-newsletter-wrapper
      .ab-button-group {
      min-width: 100px;
      width: 100%;
    }
    .ab-newsletter-section {
      padding: 50px 38px 64px 39px;
    }
  }
  @media screen and (max-width: 991px) {
    .ab-newsletter-section {
      padding: 50px 38px 64px 39px;
    }
    .ab-newsletter-section .ab-form-input-box .ab-newsletter-wrapper {
      gap: 13px;
      flex-direction: column;
      margin-bottom: 0 !important;
    }
    .ab-newsletter-section .ab-newsletter-input-form .ab-check-requred {
      display: none;
    }
    .ab-newsletter-section .ab-newsletter-wrapper > .ab-check-requred {
      display: block;
    }
  
    .ab-main--content.article-details-page
      .ab-newsletter-input-form
      .ab-form-input-box
      > .ab-check-requred {
      display: none !important;
    }
    .ab-main--content.article-details-page
      .ab-newsletter-wrapper
      > .ab-check-requred {
      display: block !important;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 991px) {
    .ab-newsletter-section .ab-form-input-box .ab-newsletter-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .ab-main--content.article-details-page
      .ab-newsletter-input-form
      .ab-form-input-box
      .ab-input-group {
      min-width: 48%;
      flex: 0 0 48%;
    }
    
    .ab-main--content.article-details-page
      .ab-newsletter-section
      .ab-newsletter-input-form
      .ab-check-requred {
      width: 47%;
      flex: 0 0 47%;
      min-width: 47%;
    }
    .ab-main--content.article-details-page
      .ab-newsletter-section
      .ab-newsletter-input-form
      .ab-button-group {
      width: 47%;
      flex: 0 0 47%;
      min-width: 47%;
      margin-top: 10px;
    }
  }