  /*=========>>> article details items styles */
  .ab-article-details-section {
    position: relative;
    padding-top: 78px;
  }
  
  .ab-article-details-section .ab-title {
    margin-bottom: 5px;
  }
  .ab-article-details-section .ab-posted-date {
    font-family: var(--ab_primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 36px;
    display: block;
  }
  .ab-article-details-section .ab-article-details-image {
    width: 100%;
    height: 388.27px;
    max-width: 1100.5px;
    object-fit: cover;
    margin-bottom: 53.71px;
  }
  .ab-article-details-section .ab-article-desc {
    font-family: var(--ab_primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 0;
    padding-right: 36px;
  }
  .ab-article-details-section .ab-article-desc:not(:last-child) {
    margin-bottom: 46px;
  }
  @media screen and (max-width: 1199px) {
    .ab-article-content-wrapper > .ab-article-card-items:last-child {
      display: none;
    }
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    .ab-article-details-section .ab-article-details-image {
      height: 260px;
    }
    .ab-article-card-items,
    .ab-article-content-wrapper > .ab-article-card-items:nth-child(1) {
      margin-bottom: 43px;
    }
    .ab-article-card-items:not(:last-child) {
      margin-bottom: 43px;
    }
    .ab-article-content-wrapper
      .article-layout-wrapper
      .ab-article-card-items:nth-child(2)
      .ab-button-style.article-button {
      margin-top: 34px;
    }
    .ab-main--content.article-details-page .ab-article-content-box {
      padding-bottom: 46px;
    }
  }
  @media screen and (max-width: 991px) {
    .ab-article-details-section {
      padding-bottom: 50px !important;
      padding-left: 38px;
      padding-right: 38px;
    }
    .ab-article-details-section .ab-article-desc {
      padding-right: 0px;
    }
    .ab-article-details-section .ab-article-details-image {
      height: 174.71px;
      margin-bottom: 42px;
    }
    .ab-main--content.article-details-page {
      padding-left: 4px;
      padding-right: 4px;
    }
    .ab-article-content-box {
      padding: 63px 34px 17px 34px !important;
    }
  
    .ab-article-card-items,
    .ab-article-content-wrapper > .ab-article-card-items:nth-child(1) {
      margin-bottom: 43px;
    }
    .ab-article-card-items:not(:last-child) {
      margin-bottom: 43px;
    }
    .ab-article-content-wrapper
      .article-layout-wrapper
      .ab-article-card-items:nth-child(2)
      .ab-button-style.article-button {
      margin-top: 34px;
    }
    .ab-main--content.article-details-page .ab-promo-content-box {
      display: none;
    }
    .ab-article-content-wrapper .ab-article-card-items .ab-article-image {
      width: 100%;
      object-fit: cover;
    }
    .ab-main-content-box.article-details-page--wrappe .ab-article-content-box {
      padding-top: 49px !important;
    }
    .ab-main-content-box.article-details-page--wrapper .ab-main--sidebar-content {
      padding-left: 4px !important;
      padding-right: 4px !important;
    }
  }
  
  @media screen and (max-width: 767px) {
    .ab-article-content-wrapper {
      display: block;
    }
  }
  @media screen and (max-width: 767px) {
    .ab-article-details-section {
      padding-top: 0 !important;
    }
    .ab-main-content-box.article-page--wrapper
      .ab-main--sidebar-content
      .ab-block-content-box.color-bg-block {
      margin-bottom: 48px;
    }
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .ab-article-content-box .ab-article-title {
      margin-bottom: 45px;
    }
    .ab-article-details-section {
      padding-top: 38px;
    }
    .ab-article-details-section .ab-article-details-image {
      height: 318px;
      margin-bottom: 33px;
    }
    .ab-article-content-box {
      padding: 16px 50px 17px 50px !important;
    }
  
  }
  @media screen and (max-width: 767px) {
    .ab-block-content-box.color-bg-block.ab-block-4 {
      margin-bottom: 0;
    }
    .ab-article-content-box {
      padding-top: 37px !important;
    }
  }