/*********************************
    CTA section style css 
    *****************************/

    .ab-cta-section {
        position: relative;
        padding: 54px 80px 64px 79px;
        background: var(--ab_light);
        margin-bottom: 81px;
      }
      .ab-cta-section .ab-cta-title {
        margin-bottom: 35px;
        max-width: 776px;
      }
      .ab-cta-section .ab-form-input-box {
        grid-template-areas: unset;
        grid-template-columns: 300px 1fr;
      }
      .ab-cta-section .ab-form-input-box div:nth-child(1) {
        grid-area: unset;
      }
      .ab-cta-section .ab-form-input-box div:nth-child(2) {
        grid-area: unset;
      }
      .ab-cta-section .ab-form-input-box .ab-cta-wrapper-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .ab-cta-section .ab-form-input-box .ab-cta-wrapper-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .ab-cta-section .ab-form-input-box .ab-cta-wrapper-right .ab-textarea-group {
        width: 100%;
        height: 143px;
      }
      .ab-cta-section .ab-form-input-box .ab-cta-wrapper-right .ab-cta-btn-box-wrap {
        width: 100%;
        display: flex;
        gap: 24px;
      }
      .ab-cta-section
        .ab-form-input-box
        .ab-cta-wrapper-right
        .ab-cta-btn-box-wrap
        .ab-check-requred {
        width: 300px;
      }
      .ab-cta-section
        .ab-form-input-box
        .ab-cta-wrapper-right
        .ab-cta-btn-box-wrap
        .ab-check-requred
        .text {
        max-width: 280px;
      }
      .ab-main--content.earn-page-wrap .ab-cta-section {
        margin-bottom: 101px;
      }
      .ab-main-content-box.earn-page .ab-cta-title {
        max-width: 484px;
      }
      @media screen and (max-width: 1420px) and (min-width: 1281px) {
        .ab-cta-section .ab-form-input-box .ab-cta-wrapper-left .ab-input-group {
          width: 100%;
        }
        .ab-cta-section
          .ab-form-input-box
          .ab-cta-wrapper-right
          .ab-cta-btn-box-wrap
          .ab-button-group {
          width: 100%;
        }
      }
      @media screen and (max-width: 1280px) and (min-width: 992px) {
        .ab-cta-section
          .ab-form-input-box
          .ab-cta-wrapper-right
          .ab-cta-btn-box-wrap {
          flex-direction: column;
        }
        .ab-cta-section .ab-form-input-box .ab-cta-wrapper-left .ab-input-group {
          width: 100%;
        }
        .ab-cta-section
          .ab-form-input-box
          .ab-cta-wrapper-right
          .ab-cta-btn-box-wrap
          .ab-button-group {
          width: 100%;
        }
      }
      @media screen and (max-width: 1199px) and (min-width: 992px) {
        .ab-cta-section {
          padding: 54px 50px 64px 50px;
        }
        .ab-cta-section .ab-form-input-box {
          grid-template-columns: 1fr 1fr;
        }
      }
      @media screen and (max-width: 991px) {
        .ab-cta-section {
          padding: 50px 38px 55px 38px;
        }
        .ab-cta-section
          .ab-form-input-box
          .ab-cta-wrapper-right
          .ab-cta-btn-box-wrap {
          display: block;
        }
        .ab-main--content.earn-page-wrap .ab-cta-section {
          margin-bottom: 34px;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .ab-main--content.faq-page .ab-cta-wrapper-right .ab-check-requred {
          display: none;
        }
      
          .ab-main--content.earn-page-wrap .ab-cta-wrapper-right .ab-check-requred {
            display: none;
          }
          .ab-main--content.earn-page-wrap .ab-cta-wrapper-right .ab-button-group {
            margin-top: 0;
          }
      }
      @media screen and (max-width: 767px) {
        .ab-main-content-box.earn-page .ab-cta-title {
          max-width: 100%;
        }
      }