<!-- account section start -->
<section class="ab-account-section">
    <h1 class="ab-title">If you need <span class="ab-color-text">quality</span> 100% <span
            class="ab-color-text">legal</span> bulk <span class="ab-color-text">accounts</span>,
       and <span
       class="ab-color-text">product keys</span> you've come to the right place.</h1>
    <div class="ab-account-content-wrapper">
        <!-- account search widgets -->
        @@include("./account/_search-widgets.html") 
        <!-- account type tabs -->
        @@include("./account/_account-types-tabs.html") 
        <!-- category based account list -->
        @@include("./account/_category-base-accounts.html") 
        <!-- all account list  -->
        @@include("./account/_all-accoun-list.html") 
    </div>
</section> 
<!-- [END] -->