           <!-- benefit section start -->
           <section class="ab-benefit-section-box">
            <div class="ab-benefit-top-wrapper">
                <h2 class="ab-benefit-top-title">You can <span class='ab-color-text'>get</span> your
                    accounts <span class='ab-color-text'>immediately</span> after your payment is
                    confirmed - there is <span class='ab-color-text'>no need to wait</span>.</h2>
                <div class="ab-benefit-brand"><img src="image/benifit-brand-logo.svg" width="183"
                        height="156" alt="brand logo"></div>
            </div>
            <div class="ab-benefit-main-content">
                <!-- benefit cards items -->
                <div class="ab-benefit-items-cards">
                    <h6 class="ab-benefit-title">Best prices</h6>
                    <p class="ab-benefit-description">Online sales also offer the advantage of tracking
                        customer data and behaviour, helping businesses to better understand their
                        target market and offer targeted promotions. With the growth of online
                        marketplaces, customers have more choice than ever and can easily compare prices
                        and products to find the best deal.</p>
                </div>
                <!-- [end] -->
                <!-- benefit cards items -->
                <div class="ab-benefit-items-cards">
                    <h6 class="ab-benefit-title">Guaranteed moneyback</h6>
                    <p class="ab-benefit-description">Online sales are becoming increasingly popular due
                        to their convenience and accessibility. Customers can shop from the comfort of
                        their homes and have their purchases delivered to their doorstep.</p>
                </div>
                <!-- [end] -->
                <!-- benefit cards items -->
                <div class="ab-benefit-items-cards">
                    <h6 class="ab-benefit-title">Hot deals</h6>
                    <p class="ab-benefit-description">E-commerce platforms and websites have made it
                        easy for businesses to sell their products online, reaching a wider audience and
                        increasing sales. Online sales also offer the advantage of tracking customer
                        data and behaviour, helping businesses to better understand their target market
                        and offer targeted promotions.</p>
                </div>
                <!-- [end] -->
            </div>
        </section>
        <!-- [END] -->