  <!-- ============cookie policy section styles==========[start] -->

        <!-- after first load page By passing 'active' class cookie policy show after 5s delay  
            ,after click accept or decline should removed the active class-->

            <div class="ab-cookie-policy-content-wrap">
                <div class="ab-container">
                    <div class="ab-cookie-text-content">
                        <h2 class="ab-cookie-title">Cookie Policy</h2>
                        <p class="ab-cookie-desc">Our website uses cookies to improve your browsing experience. By using our
                            site
                            you agree to the use of cookies. </p>
                    </div>
                    <div class="ab-cookie-button-content">
                        <button class="ab-user-action-button">Accept</button>
                        <button class="ab-user-action-button">Decline</button>
                        <button class="ab-user-action-button">Learn more</button>
                    </div>
                </div>
            </div>
            <!-- ============cokie policy section styles==========[end] -->