  <!-- CTA section start -->
  <section class="ab-cta-section">
    <h5 class="ab-cta-title">@@title</h5>
    <form action="/post" class="ab-cta-input-form">
        <div class="ab-form-input-box">
            <div class="ab-cta-wrapper-left">
                <!-- passing extra class('warning') for invalid/required inputs warning  -->
                <div class="ab-input-group">
                    <input type="text" class="ab-input" required placeholder="Name">
                    <span class="warn-text">Please enter your name</span>
                </div>
                <!-- passing extra class('warning') for invalid/required inputs warning  -->
                <div class="ab-input-group">
                    <input name="email" type="email" class="ab-input" placeholder="Email">
                    <span class="warn-text">Please enter a valid email address</span>
                </div>
                <!-- passing extra class('warning') for invalid/required inputs warning  -->
                <div class="ab-check-requred right-side-requered-mobo">
                    <label for="checkedRequered5">
                        <input type="checkbox" id="checkedRequered5" class="check-mark">
                        <span class="ab-check-mark-box"></span>
                        <span class="text">I have read and agree to the Privacy Policy and
                            Terms of
                            Service</span>
                    </label>
                </div>
            </div>
            <div class="ab-cta-wrapper-right">
                <!-- passing extra class('warning') for invalid/required inputs warning  -->
                <div class="ab-textarea-group">
                    <textarea name="text" placeholder="Message"></textarea>
                    <span class="warn-text">Please enter a message between 10 and 1000
                        characters</span>
                </div>
                <div class="ab-cta-btn-box-wrap">
                    <!-- passing extra class('warning') for invalid/required inputs warning  -->
                    <div class="ab-check-requred">
                        <label for="checkedRequered2">
                            <input type="checkbox" id="checkedRequered2" class="check-mark">
                            <span class="ab-check-mark-box"></span>
                            <span class="text">I have read and agree to the Privacy Policy and
                                Terms of
                                Service</span>
                        </label>
                    </div>
                    <div class="ab-button-group">
                        <button class="ab-button-style ab-footer-button">Send</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>
<!-- [END] -->