<!-- ============footer section styles==========[start] -->
<footer class="ab-footer-section">
    <div class="ab-container">
        <div class="ab-footer-wrapper">
            <!-- footer top nav start -->
            <div class="ab-footer-top">
                <div class="ab-footer-nav-box">
                    <a href="./index.html" class="ab-footer-brand">
                        <img src="image/brand-logo.svg" class="desk-logo" width="210" height="34" width="" height=""
                            alt="ab brand logo">
                        <img src="image/brand-logo-mobo.svg" class="mobo-logo" width="124" height="20"
                            alt="ab brand logo">
                    </a>
                    <div class="ab-footer-nav">
                        <ul class="ab-footer-nav-items">
                            <li class="ab-nav-link-items"><a href="./">catalog</a></li>
                            <li class="ab-nav-link-items"><a href="./articles.html">articles</a></li>
                            <li class="ab-nav-link-items"><a href="./about-us.html">about us</a></li>
                            <li class="ab-nav-link-items"><a href="./contact-us.html">contacts</a></li>
                            <li class="ab-nav-link-items"><a href="./faq.html">FAQ</a></li>
                                </ul>
                        <div class="ab-currency-button">
                            <img src="image/currency-icons.svg" width="27" height="27" width="27" height="27"
                                alt="currency icons" class="currency-icons">
                                <a href="./suppliers.html"><span>Earn Money Selling Accounts</span></a>
                        </div>
                    </div>
                </div>
                <div class="ab-footer-auth-box">
                    <button class="ab-auth-button"><img src="image/user.svg" width="21" height="26"
                            alt="user icons"></button>

                </div>
            </div>
            <!-- [END] -->
            <!-- footer main content start -->
            <div class="ab-footer-main-wrap">
                <div class="ab-footer-main">
                    <div class="ab-footer-main-content">
                        <div class="ab-footer-main-top">
                            <div class="ab-footer-content-left">
                                <h2 class="footer-title">If you need <span class="ab-white-text">quality</span>
                                    100%
                                    <span class="ab-white-text">legal</span> bulk <span
                                        class="ab-white-text">accounts</span>, you've come to the right place.
                                </h2>
                            </div>
                            <div class="ab-footer-content-right">

                                <form id="footer-form" action="?" class="ab-footer-input-form">
                                    <div id="footer-error-plank" class="footer-plank plank-red hidden">
                                        <img src="image/warning-white.svg" width="30.11" height="30.11"
                                            alt="icons warning" class="warning-icon"
                                            style="background-color: var(--ab_warning);">
                                        <p class="plank">Error</p>
                                        <button id="error-plank-close" class="plank-red plank-dismiss"
                                            type="button" disabled>&times;</button>
                                    </div>
                                    <div class="ab-form-input-box">

                                        <!-- passing extra class('warning') for invalid/required inputs warning  -->
                                        <div class="ab-input-group ">
                                            <input id="name" name="name" type="text" class="ab-input" required
                                                placeholder="Name">
                                            <span class="warn-text">Please enter your name</span>
                                        </div>
                                        <!-- passing extra class('warning') for invalid/required inputs warning  -->
                                        <div class="ab-input-group ">
                                            <input id="email" name="email" type="email" class="ab-input"
                                                placeholder="Email">
                                            <span class="warn-text">Please enter a valid email address</span>
                                        </div>
                                        <!-- passing extra class('warning') for invalid/required inputs warning  -->
                                        <div class="ab-textarea-group ">
                                            <textarea id="text" style="resize: none;" name="text"
                                                placeholder="Message"></textarea>
                                            <span class="warn-text">Please enter a message between 10 and 1000
                                                characters</span>
                                        </div>
                                        <!-- passing extra class('warning') for invalid/required inputs warning  -->
                                        <div class="ab-check-requred ">
                                            <label id="label-checkbox" for="checkedRequered">
                                                <input type="checkbox" id="checkedRequered" class="check-mark">
                                                <span class="ab-check-mark-box"></span>
                                                <span id="checkbox-text" class="text">I have read and agree to the
                                                    Privacy Policy
                                                    and
                                                    Terms of Service</span>
                                            </label>
                                        </div>
                                        <div class="ab-button-group">
                                            <!-- for desabled button you shout need to add a class 'ab-orange-button-disable' -->
                                            <div id="recaptcha" class="g-recaptcha"
                                                data-sitekey="6LcShYkmAAAAAA_FN5w0Oewh_-7XzIocjZlX6apw"
                                                data-callback="onSubmit" data-size="invisible"></div>
                                            <button id="submit" class=" ab-button-style ab-footer-button ">Send</button>
                                        </div>
                                    </div>
                                    <!-- success massage popups -->
                                    <!-- by passing extra class 'success-open' when user submited the input action -->
                                    <div class="ab-success-msg-wrapper success-open">
                                        <div class="ab-success-msg-cont-box">
                                            <h6><img src="image/checkmark.svg" width="32" height="24" alt="mark icons">
                                                Thank you</h6>
                                            <p class="p-text">your message has been sent</p>
                                        </div>
                                        <button class="close-button"><img src="image/close-violet.svg"
                                                alt="close icons"></button>
                                    </div>
                                    <!-- [END] -->
                                </form>
                            </div>
                        </div>
                        <div class="ab-footer-link-wrap">
                            <ul class="ab-main-footer-links">
                                <li class="ab-footer-link"><a href="./terms-of-service.html">Terms of Service</a></li>
                                <li class="ab-footer-link"><a href="./shipping-policy.html">Shipping Policy</a></li>
                                <li class="ab-footer-link"><a href="./privacy-policy.html">Privacy Policy</a></li>
                                <li class="ab-footer-link"><a href="./refund-policy.html">Refund Policy</a></li>
                                <li class="ab-footer-link"><a href="./payment-policy.html">Payment Policy</a></li>
                                <li class="ab-footer-link"><a href="./cookies-policy.html">Cookies Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [END] -->
            <!-- footer bottom content start -->
            <div class="ab-footer-botton">
                <p class="ab-copyright-text">| 16 East 40th Street, Suite 805, 10016 | Phone: +1 213-781-9212 |
                    Email: buddy@accbuddy.com</p>
                <p class="ab-copyright-text">© 2023 accbuddy. All rights reserved.</p>
            </div>
        </div>
    </div>



</footer>
<!-- ============footer section styles==========[end] -->