<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="@@description">
  <meta name="keyword" content="@@keywordText">
  <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon" />
  <link rel="canonical" href="@@canonical">

  <title>@@title</title>

  <!-- link style start here -->
  <link rel="stylesheet" href="css/@@pageCss.min.css" media="all">
  <link rel="stylesheet" href="css/style.min.css" media="all">
  <link rel="preload" href="css/web/Lexend-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="css/web/Lexend-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="css/web/Lexend-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <!-- script start here -->
  <!-- headScripts -->
  <!-- =====start script write here -->
  <!-- build:tidio -->
  <!-- endbuild -->

  <!-- build:header -->
  <!-- endbuild -->
  <!-- build:account -->
  <!-- endbuild -->
  <!-- build:signup -->
  <!-- endbuild -->
  <!-- build:cart -->
  <!-- endbuild -->
  <!-- build:footer -->
  <!-- endbuild -->
  <!-- build:index -->
  <!-- endbuild -->
  <!-- build:fbpixels -->
  <!-- endbuild -->

  <!-- ============header section styles==========[start] -->
<!-- Meta Pixel Code -->
</head>

<body>