    <!-- newsletter section start -->
    <section class="ab-newsletter-section">
        <h5 class="ab-newsletter-title">Describe our newsletter</h5>
        <form action="/post" class="ab-newsletter-input-form">
            <div class="ab-form-input-box">
                <div class="ab-newsletter-wrapper">
                    <!-- passing extra class('warning') for invalid/required inputs warning  -->
                    <div class="ab-input-group">
                        <input type="text" class="ab-input" required placeholder="Name">
                        <span class="warn-text">Please enter your name</span>
                    </div>
                    <!-- passing extra class('warning') for invalid/required inputs warning  -->
                    <div class="ab-input-group">
                        <input name="email" type="email" class="ab-input" placeholder="Email">
                        <span class="warn-text">Please enter a valid email address</span>
                    </div>
                    <!-- passing extra class('warning') for invalid/required inputs warning  -->
                    <div class="ab-check-requred">
                        <label for="checkedRequered5">
                            <input type="checkbox" id="checkedRequered5" class="check-mark">
                            <span class="ab-check-mark-box"></span>
                            <span class="text">I have read and agree to the Privacy Policy and Terms of
                                Service</span>
                        </label>
                    </div>
                    <div class="ab-button-group">
                        <button class="ab-button-style ab-footer-button">Send</button>
                    </div>
                </div>
                <!-- passing extra class('warning') for invalid/required inputs warning  -->
                <div class="ab-check-requred">
                    <label for="checkedRequered2">
                        <input type="checkbox" id="checkedRequered2" class="check-mark">
                        <span class="ab-check-mark-box"></span>
                        <span class="text">I have read and agree to the Privacy Policy and Terms of
                            Service</span>
                    </label>
                </div>

            </div>
        </form>
    </section>
    <!-- [END] -->