<ul class="ab-order-history-mobo-info-item">
    <li> <span class="ab-order-history-title-item">Date</span>
        <p class="ab-order-history-main-item">@@Date</p>
    </li>
    <li><span class="ab-order-history-title-item">Number</span>
        <p class="ab-order-history-main-item">@@OrderId</p>
    </li>
    <li><span class="ab-order-history-title-item">Item</span>
        <p class="ab-order-history-main-item">@@Pname</p>
    </li>
    <li><span class="ab-order-history-title-item">Amount due</span>
        <p class="ab-order-history-main-item">@@Price</p>
    </li>
    <li><span class="ab-order-history-title-item">status</span>
        <p class="ab-order-history-main-item"><span>@@Status</span><button
                class="ab-view-details-btn">View details</button></p>
    </li>
</ul>