<!-- promo content start -->
<div class="ab-promo-content-box">
    <h3 class="ab-promo-title">
        <span class="ab-color2-text">Your</span> One-Stop Destination To
        Buy <span class="ab-color2-text">Verified</span> Social Media & Email <span
            class="ab-color2-text">Accounts</span> and product
        <span class="ab-color2-text">keys</span>!
           
    </h3>
    <div class="ab-promo-brand"><img src="image/probo-brand-logo.svg" width="306.29"
            height="51.07" alt="brand logo"></div>
</div>
<!-- [END] -->