@@include("partials/_head.html",{
"pageCss": 'checkout-page',
"description": 'Accbuddy offers genuine software product keys with discount',
"keywordText": 'buy Windows 11 product key, buy Windows 10 product key, buy VMware Fusion PRO 13, buy VMware Workstation PRO 17',
"title": 'Accbuddy Buy Software with Discount - Accbuddy',
})
<!-- ============main content wrapper==========[start] -->
<div class="ab-main-content-wrapper">
    <div class="ab-container">
        <div class="ab-main-content-box order-detail-wrapper-box checkout-details-wrapper">

            <!-- main content start here -->
            <main class="ab-main--content order-details--page ab-checkout--page">
                <div class="ab-order-details-content">
                    <div class="ab-order-details-wrapper">
                        <div class="ab-tablet-view-wrapper">
                            <h1 class="ab-order-title ab-violate-color">Confirmation</h1>
                        </div>
                        <div class="ab-checkout-info-details-wrap">
                            <div class="ab-checkout-buy-item-content">
                                <div class="ab-chekout-buy-item-texts">
                                    <p class="ab-text">You buy <b>amount</b> accounts <b><a href="/">accounts
                                                name</a></b></p>
                                    <img src="image/gmail-small-icons0.svg" alt="google icons"
                                        class="ab-buy-item-logo">
                                </div>
                                <p class="ab-buy-amound">amount to pay: <span><b>amount to pay</b></span></p>
                            </div>
                            <div class="ab-checkout-btn-box">
                                <a href="" class="ab-button-style ab-buy-button">Cancel</a>
                                <a href="" class="ab-button-style ab-buy-button ab-paypal-buy-button">Buy now with <img
                                        src="image/paypal.svg" alt="paypal icons"
                                        class="payment-methods-img"></a>
                            </div>
                        </div>
                    </div>
                </div>

         @@include("partials/_foot.html")
