@@include("partials/_head.html",{
"pageCss": 'article',
"title": 'Accbuddy Your One-Stop Destination To Buy Accounts',
"description": 'accbuddy user friendly shipping policy',
"keywordText": 'accbuddy shipping policy',
})
@@include("partials/_header.html")
<div class="ab-main-content-wrapper">
    <div class="ab-container">
        <div class="ab-main-content-box article-widgets-main-wrapper">
            <main class="ab-main--content article-widgets-page">
                <section class="ab-article-widgets-section">
                    <h1 class="ab-title ab-violate-color">Term of Service</h1>
                    <div class="ab-article-widgets-content">
                        <div class="ab-article-widgets-wrap  single-column-article-widgets">
                            <div class="ab-article-widgets-card-items">
                                <h4 class="article-title ab-orange-color">Description of Services:</h4>
                                <p class="term-text">AccBuddy provides digital services, including online accounts for
                                    various platforms, which are delivered instantly upon purchase. In rare cases where
                                    the account is not immediately available or subject to manual review, delivery may
                                    be delayed.</p>
                            </div>
                        </div>
                        <p class="term-text"></p>

                    </div>
                </section>
                <!-- [END] -->

                <!-- promo content start -->
                @@include("partials/_promo.html")


            </main>

            <!-- sidebar content start here -->
            <aside class="ab-main--sidebar-content">

                <!-- text block content start -->
                @@include("partials/_block-content-v1.html",{
                "class": '',
                })

                <!-- text block content start -->
                @@include("partials/_block-content-v2.html",{
                "class": '',
                })
            </aside>

        </div>
    </div>
</div>
<!-- ============main content wrapper==========[end] -->
<!-- footer partials start -->
@@include("partials/_footer.html")
<!-- cookies policy start -->
@@include("partials/_cookies.html")
<!-- [end] -->
@@include("partials/_foot.html")
