@@include("partials/_head.html",{
    "pageCss": 'article',
    "title": 'Accbuddy Buy accounts',
    })
    @@include("partials/_header.html")
    <!-- ============main content wrapper==========[start] -->
    <div class="ab-main-content-wrapper">
        <div class="ab-container">
            <div class="ab-main-content-box article-widgets-main-wrapper">
    
                <!-- main content start here -->
                <main class="ab-main--content article-widgets-page">
    
                    <section class="ab-article-widgets-section">
                        <h1 class="ab-title ab-violate-color">Term of Service</h1>
                        <div class="ab-article-widgets-content">
                            <p class="term-desc">
                                Welcome to AccBuddy. This Terms of Service Agreement ("Agreement") governs your access to
                                and use of the AccBuddy website and any services, products, or digital content made
                                available through the website ("Services").
                            </p>
                            <p class="term-desc">
                                By accessing or using the Services, you agree to be bound by this Agreement, as well as our
                                Privacy Policy, Refund Policy, and any other terms and conditions that may apply to specific
                                portions of the Services.
                            </p>
                            <!-- pass in here 
                            'single-column-article-widgets' 
                                         or 
                            'two-column-article-widgets'
                            for layoutout one or two columns -->
                            <div class="ab-article-widgets-wrap  two-column-article-widgets">
                                <!-- single pragraph text can be added in here using 'p.term-text' html tags -->
                                <!-- card group text title + pragraph  -->
                                <div class="ab-article-widgets-card-items">
                                    <h4 class="article-title ab-orange-color">Description of Services:</h4>
                                    <p class="term-text">AccBuddy provides digital services, including online accounts for
                                        various platforms, which are delivered instantly upon purchase. In rare cases where
                                        the account is not immediately available or subject to manual review, delivery may
                                        be delayed.</p>
                                </div>
                                <!-- [end] -->
                                <!-- card group text title + pragraph  -->
                                <div class="ab-article-widgets-card-items">
                                    <h4 class="article-title ab-orange-color">User Responsibilities:</h4>
                                    <p class="term-text">Customers are responsible for ensuring that their purchase is valid
                                        and authorized. Customers must provide accurate and complete information at the time
                                        of purchase to avoid delays in delivery.</p>
                                </div>
                                <!-- [end] -->
                                <!-- card group text title + pragraph  -->
                                <div class="ab-article-widgets-card-items">
                                    <h4 class="article-title ab-orange-color">Use of the Services:</h4>
                                    <p class="term-text">You may use the Services for personal or commercial purposes,
                                        subject to the terms and conditions of this Agreement. You may not use the Services
                                        for any illegal or unauthorized purpose, or in a manner that interferes with the
                                        operation of the Services or any third-party services.</p>
                                </div>
                                <!-- [end] -->
                                <!-- card group text title + pragraph  -->
                                <div class="ab-article-widgets-card-items">
                                    <h4 class="article-title ab-orange-color">Intellectual Property:</h4>
                                    <p class="term-text">The Services and all content, trademarks, logos, and other
                                        intellectual property rights associated with AccBuddy are owned or licensed by us.
                                        You may not use or reproduce any of our intellectual property without our prior
                                        written consent.</p>
                                </div>
                                <!-- [end] -->
                            </div>
                        </div>
                    </section>
                    <!-- [END] -->
    
                    <!-- promo content start -->
                    @@include("partials/_promo.html")
    
    
                </main>
    
                <!-- sidebar content start here -->
                <aside class="ab-main--sidebar-content">
    
                    <!-- text block content start -->
                    @@include("partials/_block-content-v1.html",{
                    "class": '',
                    })
    
                    <!-- text block content start -->
                    @@include("partials/_block-content-v2.html",{
                    "class": '',
                    })
                </aside>
    
            </div>
        </div>
    </div>
    <!-- ============main content wrapper==========[end] -->
    <!-- footer partials start -->
    @@include("partials/_footer.html")
    <!-- cookies policy start -->
    @@include("partials/_cookies.html")
    <!-- [end] -->
    @@include("partials/_foot.html")
    