@import url('./partials/header.css');
@import url('./partials/newsletter.css');
@import url('./partials/article.css');
@import url('./partials/article-details.css');
@import url('./partials/pagination.css');
@import url('./partials/block-content.css');
@import url('./partials/news.css');
@import url('./partials/promo.css');
@import url('./partials/footer.css');
/****************** 
 article page style
======================  */
.ab-main--content.article-page{
  padding-bottom: 84px;
}
.ab-main--content.article-page > .ab-article-content-box {
    padding-top: 0;
  }
  .ab-main--content.article-page > .ab-article-content-box.articles-block-2 {
    padding-top: 86px;
    padding-bottom: 0;
  }
  .ab-main--content.article-details-page .ab-article-details-section {
    padding-top: 0;
    padding-bottom: 112px;
  }
  
  .ab-main--content.article-details-page .ab-promo-content-box {
    margin-bottom: 106px;
  }
  
  .ab-main--content.article-details-page .ab-article-content-box {
    padding-bottom: 84px;
    padding-top: 104px;
  }
  @media screen and (max-width:991px) {
    .ab-article-content-wrapper > .ab-article-card-items:nth-child(1) {
      display: block;
      width: 100%;
      flex: 0 0 100%;
    }
  }