@import url('./partials/header.css');
@import url('./partials/order-details.css');
@import url('./partials/block-content.css');
@import url('./partials/promo.css');
@import url('./partials/footer.css');
/*============================================
           merchant page style 
======================================*/
.inactive {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #F6CE8E;
}
.ab-main--content.ab-marchant-details-page
  .ab-button-style.ab-buy-button.ab-paypal-buy-button {
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #f6c305;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: none;
}
.ab-available-quantity{
  font-family: Lexend;
font-size: 12px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
max-width: 116px;
width: 100%;
}
.ab-order-quatity-item {
	display: flex;
	justify-content: flex-end;
}

.ab-main--content.ab-marchant-details-page .ab-order-info-item:nth-child(3) {
	border-bottom: 1px solid var(--ab_white);
	margin-bottom: 0 !important;
	padding-bottom: 31px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .ab-main--content.ab-marchant-details-page
    .ab-button-style.ab-buy-button.ab-paypal-buy-button {
    max-width: 276px !important;
    min-width: 276px;
    width: 100%;
  }
}