@import url('./partials/header.css');
@import url('./partials/auth-pages.css');
@import url('./partials/block-content.css');
@import url('./partials/promo.css');
@import url('./partials/footer.css');

.ab-auth-content-wrap-box.confirmation-reset-password
  .ab-auth-input-reset-password
  .ab-input-group
  .get-code {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--ab_orange);
  height: 100%;
  max-width: 100px;
  width: 100%;
  font-family: var(--ab_primary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}

.ab-input-group-content-box .ab-input-group .password-view {
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9;
  background: transparent;
  padding: 22px 15px 15px 10px;
}
@media screen and (max-width: 991px) {
  .ab-auth-content-wrap-box.confirmation-reset-password
    .ab-input-group-content-box
    .ab-auth-input-reset-password
    .ab-input-group
    .password-view {
    top: 0px;
  }
}

.ab-auth-content-wrap-box.reset-confirmation-mail,
.ab-auth-content-wrap-box.confirmation-reset-password,
.ab-auth-content-wrap-box.reset-success-massage{
    display: none;
}

.ab-auth-content-wrap-box.reset-confirmation-mail.confirmation-mail-open,
.ab-auth-content-wrap-box.confirmation-reset-password.confirmation-password-open,
.ab-auth-content-wrap-box.reset-success-massage.success-massage-open{
    display: block;
}



.footer-plank {
  height: 61.34px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 17.38px;
  gap: 10.22px;
  margin-bottom: 5px;
}

.plank-red {
  background-color: var(--ab_warning);
  color: var(--ab_white);
}

.plank-green {
  background-color: green;
  color: var(--ab_white);
}

.hidden {
  display: none;
}

.plank-dismiss {
  margin-left: auto;
  width: 30px;
  height: 30px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

[id^="form-submit-"]:disabled {
  cursor: not-allowed !important;
  background-color:  #F6CE8E !important;
}

.ui-response {
  grid-column: span 2 !important;
}

.ab-auth-content-wrap-box.reset-success-massage {
  .ab-success-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -.5px;
  }

  font-family: var(--ab_primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  text-align: left;
  color: var(--ab_violet);
}